html, body {
	opacity: 1.0;
	-webkit-transition: background 1.5s linear;
	-moz-transition: background 1.5s linear;
	-o-transition: background 1.5s linear;
	-ms-transition: background 1.5s linear;
	transition: background 1.5s linear;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  background: url("../img/star_wars_fancy_planet.jpg")  no-repeat center top;
  background-size: 2000px;
  background-color: unset; 
}

.panel,
.panel-default {
	/*background-color: #060606;*/
	/*border-color: #060606;*/
	border-color: transparent;
	background: none;
	box-shadow: none;
	/*opacity: 0;*/
}

.page-header {
	margin: 20px 0 20px;
	border-bottom: 0;
}

a {
	float: none;
	margin: 5%;
}

#staging img,
#defeated img,
#undefeated img {
	opacity: .5;
	height: 80px;
}

.pic_holder {
	margin: auto;
	float: none;
	width: auto;
	display: table;
}

#message {
	height: 43px;
}

#message h5 {
	text-align: center;
}

#attacker,
#defender {
	/*height: 180px;*/
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;
}

#footer {
	margin: auto;
	float: none;
}

body > .container {
  /*padding-top: 60px;*/
}